.tape {
  width: 90%;
  margin: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-behavior: smooth;

  &::scrollbar-button(*) {
    aspect-ratio: 1;
    border-radius: 50%;
  }
}

.tape img {
  object-fit: contain;
}

.tape img:hover {
  scale: 1.2;
}

&::-webkit-scrollbar-button {
  aspect-ratio: 1;
  border-radius: 50%;
}

@media screen and (max-width: 780px) {
  .section {
    padding: 50px 0px;
  }

  .section .text {
    /* background-color: aqua */
    width: 100%;
  }

  .tape img {
    width: 100px;
    margin: 0px 5px;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
}
