.productList {
  display: flex;
  overflow-x: scroll;
  width: 90%;
  gap: 10px;
  /* justify-content: center;
  align-items: flex-start;
  margin: 30px; */
}

.productCard .infoProduct {
  display: flex;
  flex-direction: column;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  text-overflow: ellipsis;
  text-align: left;
  width: 90%;
}

.productCard .infoProduct p {
  margin: 5px;
}

.productCard .imageProduct {
  flex-direction: column;
  display: flex;
}

.productCard {
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-shadow: 2cap;
  text-align: start;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
}

.productCard:hover {
  background-color: whitesmoke;
}

.productList::-webkit-scrollbar {
  height: 10px;
}

.productList::-webkit-scrollbar-track {
  /*  background: orange; color of the tracking area */
}

.productList::-webkit-scrollbar-thumb {
  background-color: #0170b9; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

@media screen and (max-width: 750px) {
  .productCard {
    /* font-size: 2.2em; */
  }
}
