.container {
  width: 100%;
}

.container .heronico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  height: 70vh;
  padding: 50px;
  margin-top: 115px;
  background-image: linear-gradient(
      210deg,
      #0170b9 0%,
      #21354770 50%,
      #213547 100%
    ),
    url(/src/assets/banner2.jpg);
  background-size: cover;
  background-position-y: center;
  background-attachment: fixed;
}

.container .contacto {
  background-image: linear-gradient(
      210deg,
      #f06b1e 0%,
      #88888852 50%,
      #213547 100%
    ),
    url(/src/assets/banner.jpg);
  background-size: auto;
  background-position-y: center;
  background-attachment: local;
  height: auto;
  width: 100;
}

.container .heronico p {
  animation: myAnim 2s ease 0s 1 normal forwards;
}
.container .heronico h1 {
  animation: myAnim 2s ease 0s 1 normal forwards;
}

.container .nosotros {
  margin-top: 150px;
  background-image: url(/src/assets/nosotros.jpg);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  border-radius: 10%;
  /* height: 100%; */
  width: 100%;
  margin-bottom: 50px;
}
.container .heronico h1 {
  font-size: 3em;
  line-height: 1.2;
  width: 70%;
  color: aliceblue;
}

.container .heronico b {
  color: #1e87f0;
}

.container .heronicoimg img {
  width: 25%;
  position: absolute;
  right: 20%;
  top: 20%;
  border-radius: 50%;
}

.container .heronico p {
  margin-bottom: 30px;
  color: aliceblue;
  width: 70%;
}

.container .heronico a {
  padding: 10px;
  border-radius: 5%;
}

.container .heronico a:hover {
  filter: drop-shadow(0 0 2em #01c38d);
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 780px) {
  .container .heronico {
    /* width: 100%; */
    height: auto;

    padding: 70px 20px;
    border-radius: 10px;
    text-align: left;
  }

  .container .heronico h1 {
    font-size: 2.2em;
    line-height: 1.2;
    width: 100%;
    color: aliceblue;
  }

  .container .heronico p {
    width: 100%;
  }
}
