.inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  height: 70vh;
  padding: 50px;
  margin-top: 115px;
  background-image: linear-gradient(
      210deg,
      #0170b9 0%,
      #21354770 50%,
      #213547 100%
    ),
    url(/src/assets/banner2.jpg);
  background-size: cover;
  background-position-y: center;
  background-attachment: fixed;
  margin-bottom: 30px;
}

.nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  height: 70vh;
  padding: 50px;
  margin-top: 115px;
  background-image: linear-gradient(
      210deg,
      #0170b9 0%,
      #21354770 50%,
      #213547 100%
    ),
    url(https://images.pexels.com/photos/6492397/pexels-photo-6492397.jpeg?_gl=1*xxy4g9*_ga*MTAwNjkwNjY1Ni4xNzQ2MjUwOTU3*_ga_8JE65Q40S6*czE3NTIxNjUxNjAkbzUkZzEkdDE3NTIxNjU0MDQkajEwJGwwJGgw);
  background-size: cover;
  background-position-y: center;
  background-attachment: fixed;
  margin-bottom: 30px;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  height: 70vh;
  padding: 50px;
  margin-top: 115px;
  background-image: linear-gradient(
      210deg,
      #0170b9 0%,
      #21354770 50%,
      #213547 100%
    ),
    url(https://images.pexels.com/photos/6492397/pexels-photo-6492397.jpeg?_gl=1*xxy4g9*_ga*MTAwNjkwNjY1Ni4xNzQ2MjUwOTU3*_ga_8JE65Q40S6*czE3NTIxNjUxNjAkbzUkZzEkdDE3NTIxNjU0MDQkajEwJGwwJGgw);
  background-size: cover;
  background-position-y: center;
  background-attachment: fixed;
  margin-bottom: 30px;
  width: -webkit-fill-available;
}

.inicio p {
  animation: myAnim 2s ease 0s 1 normal forwards;
}
.inicio h1 {
  animation: myAnim 2s ease 0s 1 normal forwards;
}
.inicio h1 {
  font-size: 3em;
  line-height: 1.2;
  width: 70%;
  color: aliceblue;
}

.inicio b {
  color: #1e87f0;
}

.inicio p {
  margin-bottom: 30px;
  color: aliceblue;
  width: 70%;
}

.inicio a {
  padding: 10px;
  border-radius: 5%;
}

.inicio a:hover {
  filter: drop-shadow(0 0 2em #01c38d);
}

.nosotros p {
  width: 40%;
  margin-bottom: 30px;
  color: aliceblue;
}

.nosotros h1 {
  text-decoration: underline 8px;
}

.contacto p {
  width: 40%;
  margin-bottom: 30px;
  color: aliceblue;
}

.contacto h1 {
  text-decoration: underline 8px;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 780px) {
  .inicio {
    /* width: 100%; */
    height: auto;

    padding: 70px 20px;
    border-radius: 10px;
    text-align: left;
  }

  .inicio h1 {
    font-size: 2.2em;
    line-height: 1.2;
    width: 100%;
    color: aliceblue;
  }

  .inicio p {
    width: 100%;
  }

  .nosotros p {
    width: 100%;
  }
}
