.opa {
  background-color: whitesmoke;
}

.section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px 50px;
  width: 100dvw;

  /* background-color: aquamarine; */
  /* margin: 0px 30px; */
  margin-bottom: 30px;
}

.section .text {
  /* border: solid red 1px; */
  flex-wrap: wrap;
  width: 45%;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

.section div img {
  /* border: solid red 1px; */
  /* Copy code to element you want to animate */

  /* animation: customAni2 3s ease 0s 1 normal none; */
  border-radius: 10%;
}

.section div ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 250px;
  flex-wrap: wrap;
  gap: 10px;
  /* list-style-image: url(../../assets/dot.svg); */
}

.section .text ul li {
  width: 300px;
}

.section .text li::marker {
  color: #61dafbaa;
}

.row section {
  margin: 30px 0px;
  display: flex;
  flex-wrap: wrap;
}

.row section figure {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
}

.row section:hover figure img {
  animation: customAni 3s ease 0s 1 normal none;
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

.row section figure figcaption {
  width: 200px;
}

.row section figure figcaption p {
  line-height: 1.5;
}

.propaganda {
  width: 100dvw;
  background-image: url(../../assets/bannerMidea.webp);
  height: 85vh;
  background-size: 100dvw;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.propaganda .text {
  /* background-color: red; */
  background: #213547;
  position: relative;
  left: 70px;
  top: 100px;
  /* height: 100px; */
  padding: 20px;
  overflow: hidden;
  height: 100px;
  flex-direction: row;
  transition: 3s;
}

.propaganda .text h1 {
  margin: 0px;
  /* display: none; */
}

.propaganda .text p {
  color: aliceblue;
  /* display: none; */
}

.propaganda .text:hover {
  height: auto;
  /* transition-duration: 2s; */
}

.servicesSlider {
  /* background-color: #213547; */
  display: flex;
  width: 90vw;
  overflow: hidden;
  overflow-x: scroll;
  gap: 50px;
}

.servicesSlider .image {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.23);
  margin: 30px 0px;
  border-radius: 10%;
}
@media screen and (max-width: 780px) {
  .section .text {
    width: 100vw;
    padding: 0px 20px;
    text-align: center;
  }

  .section .text p {
    text-align: justify;
    letter-spacing: 0.2px;
  }

  .section .image {
    width: 100vw;
    /* background-color: brown; */
  }

  .section .image img {
    width: 100vw;
    border-radius: 0%;
    /* background-color: brown; */
  }

  .section .text ul {
    /* background-color: red; */
    flex-wrap: nowrap;
    height: auto;
    padding: 0px 20px;
    text-align: left;
  }

  .row section {
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .propaganda {
    width: auto;
    height: auto;
    background-attachment: local;
  }

  .propaganda .text {
    /* background-color: red; */
    left: 0px;
    /* background: #213547; */
    position: relative;
    /* height: 100px; */
    padding: 20px;
    flex-direction: row;
    transition: 3s;
    margin-top: 80px;
    height: auto;
  }

  .servicesSlider {
    display: flex;
    flex-direction: column;
    gap: 0px;
    overflow-y: scroll;
    height: 200vw;
  }

  .servicesSlider .image img {
    display: flex;
    width: 100dvw;
  }
}

@keyframes customAni1 {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}

@keyframes customAni2 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes customAni {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes show {
  from {
    opacity: 0;
    scale: 50%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}
